{% load static %}{% load staticfiles %}{% load i18n %}
<html lang="Es">
			<!--<head>
                     <link rel="stylesheet" href ="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                     <link rel="stylesheet" href="{% static 'mievento/turismo/turismo.css' %}">
				<title>Detalle_lugares</title>
			</head>
	<body>
		    <br/>
            <p><a href="/" >Inicio Salimos.com</a> </p>
        <div class="datagrid">
			<table>

                <tbody>
                    <tr>
						<td>Nombre</td>
                        <td>{{item.2 }} </td>
                    </tr>

					<tr>
						<td>Barrio</td>
                    <td>{{item.5  }}</td>
					</tr>

                    <tr>
                        <td>Ciudad</td>
                    <td>{{item.4  }}</td>
                     </tr>

					<tr>
                        <td>Dirección</td>
                    <td>{{item.6  }}</td>
					</tr>
                    <tr>
                        <td>Horario</td>
                         <td>{{item.7  }}</td>
					</tr>

                    <tr>
                        <td>Teléfono - Contacto</td>
                    <td>{{item.8  }}</td>
					</tr>

                    <tr>
                        <td>Tarjetas</td>
                    <td>{{item.9 }}</td>
                    </tr>

                    <tr>
                        <td>Tipo de platos</td>
                    <td>{{item.11 }}</td>
                    </tr>

                    <tr>
                        <td>Gasto Promedio</td>
                    <td>{{item.12 }}</td>
                    </tr>

                    <tr>
                        <td>Servicios</td>
                    <td>{{item.13}}</td>
                    </tr>

                    <tr>
                        <td>Web</td>
                        <td><a href={{item.10 }} target="blank">{{item.10 }}</a></td>
                    </tr>

                    <tr>
                        <td>Imagen</td>
                        <td>
                            <img src="data:image/png;base64,{{item.12 }}" />

                        </td>

                    </tr>

                </tbody>
			</table>
		    </div>
            <br/>
            <p><a href="/" >Inicio Salimos.com</a> </p>
	</body>-->
            <head>
		<title>Maquetacion con CSS y Divs</title>
		<link rel="stylesheet" href="static/css/maquetacion.css" type="text/css"/>
	</head>
	<body>

		<div id ="contenedor">
          <div style="text-align-last: center">
          <h2>{{item.2 }}</h2><br><br>
          </div>
        </div><br>

	    <div id ="menu">
              <div style="text-align-last: center">
              <h2>Horario {{item.7  }} <br/> Contacto {{item.8  }} <br/> {{item.9  }}</h2>
              </div>
        </div>


        <div id ="submenu">
           .  <div style="text-align-last: center">
              <h2>{{item.6  }}   {{item.5  }}   {{item.4  }}</h2>
              </div>
        </div>

		<div id ="izquierda">
              <div style="text-align-last: center">
              <h2>" imagen"</h2>
              </div>
        </div>


		<div id ="derecha">
              <div style="text-align-last: center">
              <h2>" ubicacion google maps"</h2>
              </div>
        </div>

        <div id ="pie">
              <div style="text-align-last: center">
              <h2>Tarjetas: {{item.9}}  <br/> Platos{{item.11}}   <br/> Gasto promedio:{{item.12}}  <br/> Servicios:{{item.13}}   <br/>  <a href={{item.10 }} target="blank">{{item.10 }}</h2><br>
              </div>
        </div>

            <br/>
            <p><a href="/" ><img src="static/css/botones/volver.png" width="5%" height=4% ></a> </p>
</html>