{% load static %}{% load staticfiles %}{% load i18n %}
<html lang="Es">
<!--			<head>
                     <link rel="stylesheet" href ="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                     <link rel="stylesheet" href="{% static 'mievento/turismo/turismo.css' %}">
				<title>Detalle_eventos</title>
			</head>
	<body>
		    <br/>
            <p><a href="/" >Inicio Salimos.com</a> </p>
        <div class="datagrid">
			<table>

                <tbody>
                    <tr>
						<td>Nombre Evento</td>
                        <td>{{item.1 }} </td>
                    </tr>

					<tr>
						<td>Información Adicional</td>
                    <td>{{item.3  }}</td>
					</tr>

                    <tr>
                        <td>Dirección</td>
                    <td>{{item.14  }}</td>
                     </tr>

					<tr>
                        <td>Fecha Inicio</td>
                    <td>{{item.4  }}</td>
					</tr>
                    <tr>
                        <td>Fecha Final</td>
                         <td>{{item.5  }}</td>
					</tr>

                    <tr>
                        <td>Contacto</td>
                    <td>{{item.10  }}</td>
					</tr>

                    <tr>
                        <td>Ciudad</td>
                    <td>{{item.11 }}</td>
                    </tr>

                    <tr>
                        <td>Imagen</td>
                        <td>
                            <img src="data:image/png;base64,{{item.12 }}" />

                        </td>

                    </tr>

                </tbody>
			</table>
		    </div>-->
    <head>
		<title>Maquetacion con CSS y Divs</title>
		<link rel="stylesheet" href="static/css/maquetacion.css" type="text/css"/>
	</head>
	<body>

		<div id ="contenedor">
          <div style="text-align-last: center">
          <h2>{{item.1 }}</h2><br><br>
          </div>
        </div><br>

	    <div id ="menu">
              <div style="text-align-last: center">
              <h2> Contacto: {{item.3  }} <br/> {{item.14  }}</h2>
              </div>
        </div>


        <div id ="submenu">
           .  <div style="text-align-last: center">
              <h2>Desde el {{item.4  }} hasta {{item.5  }}</h2>
              </div>
        </div>

		<div id ="izquierda">
              <div style="text-align-last: center">
              <h2><img src="data:image/png;base64,{{item.12 }}" /></h2>
              </div>
        </div>


		<div id ="derecha">
              <div style="text-align-last: center">
              <h2>" ubicacion google maps"</h2>
              </div>
        </div>

        <div id ="pie">
              <div style="text-align-last: center">
              <h2> Contacto {{item.10 }} <br/> Ciudad{{item.11 }}</h2><br>
              </div>
        </div>


        </div>

		</div>
            <br/>
            <p><a href="/" ><img src="static/css/botones/volver.png" width="5%" height=4% ></a> </p>
	</body>
</html>