#contenedor{
        background-image:     linear-gradient(green, violet);
        border:5px solid #5BA546;
  }

#menu{
        background-color:#C8CACC;
        border:5px solid #5BA546;
}

#submenu{
        height:20%;
        background-color:none;
        border:5px solid #5BA546;
}

#izquierda{
        height:50%;
        background-color:#DAF7E2;
        float:left;
        width:48%;
        border:5px solid #5BA546;
}

#derecha{
        height:50%;
        background-color:#DAF7E2;
        float:right;
        width:47%;
        border:7px solid #5BA546;
}

#pie{
        background-color:#DAF7E2;
        border:5px solid #5BA546;
        
}
    
#pie2{
        background-color:#DAF7E2;
        border:5px solid #5BA546;
}


