{% load static %}{% load staticfiles %}{% load i18n %}
<html>
	<head>
		<title>Maquetacion con CSS y Divs</title>
		<link rel="stylesheet" href="maquetacion.css" type="text/css"/>
	</head>
	<body>
      
		<div id ="contenedor">
          <div style="text-align-last: center">
          <h2>" enlace a nombre del restaurant"</h2><br><br>
          </div>
        </div><br>  
            
	    <div id ="menu">
              <div style="text-align-last: center">
              <h2>" direccion web"</h2>
              </div>
        </div>
      
      
        <div id ="submenu">
           .  <div style="text-align-last: center">
              <h2>" departamento, ciudad y direccion "</h2>
              </div>
        </div>   
            
		<div id ="izquierda">
              <div style="text-align-last: center">
              <h2>" imagen"</h2>
              </div>
        </div>  
              
              
		<div id ="derecha">
              <div style="text-align-last: center">
              <h2>" ubicacion google maps"</h2>
              </div>
        </div>
      
        <div id ="pie">
              <div style="text-align-last: center">
              <h2>"Servicios , tipos de comida y tarjetas"</h2><br>
              </div>
        </div>
        
<div id ="pie2"
					<div style="text-align-last: center">
					<h2>
						<div style= "text-align: center">
							<form name="ejemplo" action="" method="POST">
								Buscar <input type="search" name="busqueda">
								<input type="submit" value= Enviar>
							</form>
					</div>
				</h2><br>
              
        </div>  
              
		</div>
	</body>
</html>
