{% load static %}{% load staticfiles %}{% load i18n %}
<html lang="ES">
{% block jk %}
                <head>
                        <link rel="stylesheet" href ="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
                        <link rel="stylesheet" href="{% static 'mievento/turismo/turismo.css' %}">
	                    <title>Funciones</title>
                </head>
                <body>
                        <br/>
                            <p><a href="/" >Inicio Salimos.com</a> </p>
                        <div class="datagrid">
                            <table>
                                    <thead>
				                <tr>
					                <th>Funcion</th>
                                    <th>Fecha</th>
					                <th>Horario</th>
				                </tr>
			                </thead>
			                <tbody>
                                    {% for Funcion in Funciones %}
                                    <tr>
                                        <td>{{ Funcion.2 }}</td>
                                        <td>{{ Funcion.3 }}</td>
                                        <td>{{ Funcion.4 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <p><a href="/#marco2" >Volver</a> </p>
                </body>
{% endblock %}
</html>