<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>salimos       

    </title>
    <link rel="stylesheet" type="text/css" href="estilo.css" />
</head>
<body>
        <div id="marco2"><br><br>
            <h2>Categorias</h2><br><br>
            <ul>
            <li><a href= "#Festivales">Festivales</a></li><br><br>
            <li><a href= "#Festivales">Criollas</a></li><br><br>
            <li><a href= "#Festivales">Gastronomia</a></li><br><br>
            <li><a href= "#Festivales">Cine</a></li><br><br>
            <li><a href= "#Festivales">Teatro</a></li><br><br>
            <li><a href= "#Festivales">Toques</a></li><br><br>
            <li><a href= "#Festivales">Boliches</a></li><br><br>
            <li><a href= "#Festivales">Eventos artisticos y deportivos</a></li><br><br>
            
            </ul>
            </div>
</body>
</html>