<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>salimos</title>
    <link rel="stylesheet" type="text/css" media="screen" href="estilo.css">
</head>
<body>
    
        <div id="marco3"> <br><br>
            <h2>Departamentos</h2><br><br>
            <ul>
            <li><a href= "#Departamentos"> Artigas</a></li><br>
              <li><a href= "#Departamentos"> Canelones</a></li><br>
              <li><a href= "#Departamentos"> Cerro Largo</a></li><br>
              <li><a href= "#Departamentos"> Colonia</a></li><br>
              <li><a href= "#Departamentos"> Durazno</a></li><br>
              <li><a href= "#Departamentos"> Flores</a></li><br>
              <li><a href= "#Departamentos"> Florida</a></li><br>
              <li><a href= "#Departamentos"> Lavalleja</a></li><br>
              <li><a href= "#Departamentos"> Maldonado</a></li><br>
              <li><a href= "#Departamentos"> Montevideo</a></li><br>
              <li><a href= "#Departamentos"> Paysandu</a></li><br>
              <li><a href= "#Departamentos"> Rio Negro</a></li><br>
              <li><a href= "#Departamentos"> Rivera</a></li><br>
              <li><a href= "#Departamentos"> Rocha</a></li><br>
              <li><a href= "#Departamentos"> Salto</a></li><br>
              <li><a href= "#Departamentos"> San Jose</a></li><br>
              <li><a href= "#Departamentos"> Soriano</a></li><br>
              <li><a href= "#Departamentos"> Tacuarembo</a></li><br>
              <li><a href= "#Departamentos"> Treinta y Tres</a></li><br>
            </ul>
              
            </div>
            

</body>
</html>