<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>salimos</title>
    <link rel="stylesheet" type="text/css" href="estilo.css" />
</head>
<body>
        <div id="marco1"><br><br>
            <h2>Mi evento</h2><br><br>
            <ul>
            <li><a href= "#EnFamilia">En Familia</a></li><br><br>
            <li><a href= "#EnFamilia">Con amigos</a></li><br><br>
            <li><a href= "#EnFamilia">Para niños</a></li><br><br>
            <li><a href= "#EnFamilia">Paseos</a></li><br><br>
            <li><a href= "#EnFamilia">Lugares turisticos</a></li><br><br>
            <li><a href= "#EnFamilia">Espectaculos al aire libre</a></li><br><br>
            </ul>
            </div>
</body>
</html>